Пользователь: [[SecurityContextHolder.getContext().getAuthentication().getName()]]
<navbar th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="www.31soft.ru"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/."><h2>jCash-домашние деньги</h2></a></li>
                <li><a href="/users">Пользователи</a></li>
                <li><a href="/operations">Операции</a></li>
                <li><a href="/typeoperationsdebit">Типы операций прихода</a></li>
                <li><a href="/typeoperationscredit">Типы операций расхода</a></li>
                <li><a href="#">О программе...</a></li>
                <li><form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form></li>
                </li>
            </ul>
        </div>
    </nav>
</navbar>

