<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Student's project (spting crud web application)</title>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">
    <div class="jumbotron text-center">
       <h2>
           Рады Вас приветствовать!!! Добро пожаловать на страницу системы jCash - мои финансы.
       </h2>
       <h3>
           Этот проект сделан на следующих технологиях: spring boot, jpa, hibernate, timelteafe, bootstrap, mysql
       </h3>
    </div>
</main>
</body>
</html>