<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">


</main>

    <table class="table table-striped">
        <tr>
            <th width="80">ID</th>
            <th width="80">Дата операции</th>
            <th width="120">Карта/Нал</th>
            <th width="120">Дебит/Кредит</th>
            <th width="120">Типа операции</th>
            <th width="60">Сумма</th>
            <th width="60">Юзер</th>

        </tr>
        <tr th:each="operation: ${operations}">
            <td th:text="${operation.getId()}"/>
            <td th:text="${operation.getData_operation()}"/>
            <td th:text="${operation.getCard_cash()}"/>
            <td th:text="${operation.getDebit_credit()}"/>
            <td th:text="${operation.getTypeOperation()}"/>
            <td th:text="${operation.getSum()}"/>
            <td th:text="${operation.getUser()}"/>
        </tr>
    </table>

</body>
</html>