<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">


</main>

    <table class="tg">
        <tr>
            <th width="80">ID</th>
            <th width="120">Имя</th>
            <th width="120">Отчество</th>
            <th width="120">Фамилия</th>
            <th width="60">Логин</th>
            <th width="60">Почта</th>
        </tr>
        <tr th:each="pacient: ${pacients}">
            <td th:text="${pacient.getId()}"/>
            <td th:text="${pacient.getFirstName()}"/>
            <td th:text="${pacient.getSecondName()}"/>
            <td th:text="${pacient.getLastName()}"/>
            <td th:text="${pacient.getLogin()}"/>
            <td th:text="${pacient.getEmail()}"/>
        </tr>
    </table>

</body>
</html>