<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th width="80">ID</th>
            <th width="120">Тип операции прихода</th>
        </tr>
        <tr th:each="t: ${typeoperationsdebit}">
            <td th:text="${t.getId()}"/>
            <td th:text="${t.getOperation()}"/>
        </tr>
    </table>
</div>

</body>
</html>