<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Hello my friend!!! This in CRUD Srting project.</h1>
        <h2>This project use: spring boot, jpa, hibernate, timelteafe, mysql</h2>
        <h2>
            <span th:text="'Hello, ' + ${name}"></span>
        </h2>
    </div>

    <ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol>

</main>

    <table class="tg">
        <tr>
            <th width="80">ID</th>
            <th width="120">FirstName</th>
            <th width="120">LastName</th>
            <th width="120">Mail</th>
            <th width="60">Edit</th>
            <th width="60">Delete</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getFirstName()}"/>
            <th width="120">LastName</th>
            <th width="120">Mail</th>
            <th width="60">Edit</th>
            <th width="60">Delete</th>
        </tr>
    </table>

</body>
</html>