<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">

</main>
<div class="container">
    <div class="col-sm-4">
             <table class="table table-striped">
                    <tr>
                      <th width="80">ID</th>
                      <th width="120">Имя</th>
                       <th width="120">Логин</th>
                    </tr>
                    <tr th:each="user: ${users}">
                       <td scope="col" th:text="${user.getId()}"/>
                        <td scope="col" th:text="${user.getUsername()}"/>
                        <td scope="col" th:text="${user.getLogin()}"/>
                   </tr>
              </table>
    </div>
</div>
</body>
</html>