<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="fragments/header :: header"></div>
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main role="main" class="container">


</main>

    <table class="tg">
        <tr>
            <th width="80">ID</th>
            <th width="120">Дата</th>
            <th width="120">ИД Доктор</th>
            <th width="120">Пациент</th>

        </tr>
        <tr th:each="visit: ${visits}">
            <td th:text="${visit.getId()}"/>
            <td th:text="${visit.getDate_visit()}"/>
            <td th:text="${visit.getId_doctor()}"/>
            <td th:text="${visit.getPacient()}"/>
        </tr>
    </table>

</body>
</html>